<ion-header>
  <ion-toolbar [color]="isRecording ? 'success' : 'primary'">
    <ion-title>
      {{ appTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-card>
      <ion-card-header>
          <ion-text color="light">{{ requestMessage }}</ion-text>
      </ion-card-header>
    </ion-card>
 
    <ion-row text-center>
        <ion-col>
           <img src="{{ '../../assets/img/gft-call-button-' + buttonMode + '.png' }}" (click)="startListening()" width="150"/>
        </ion-col>
    </ion-row>
    
    <ion-card>
      <ion-card-content>
        <ion-list style="background-color: rgba(0, 0, 0, 0.1)">
          <ion-item *ngIf="matches">
              {{ matches[0] }}
          </ion-item>
          <ion-item *ngIf="matches">
            {{ CONFIRM_MESSAGE }}
            <ion-button expand="block" (click)="confirmRequest()">Confirmar Pedido</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!--ion-button expand="block" (click)="testRequest()">Test Request</ion-button-->
 
</ion-content>
